.button {
  position: relative;

  display: block;
  padding: 10px 14px 10px 14px;
  overflow: hidden;
  border-width: 0;
  outline: none;
  border-radius: 2px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
  box-sizing: border-box;
  cursor: pointer;
  font-size: 0.9em;
  font-weight: 600;
  font-family: 'Roboto';
  text-transform: uppercase;
  text-decoration: none;
  margin: 0;
  height: 48px;
}
