.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-areas: 'left left content content content content content empty right right right right';
  word-spacing: 1px;
  text-rendering: optimizeLegibility;
}

@media only screen and (max-width: 768px) {
  .grid {
    grid-template-areas: 'content content content content content content content content content content content content';
  }
}

.sidebarLeft {
  grid-area: left;
}

@media only screen and (max-width: 768px) {
  .sidebarLeft {
    display: none;
    grid-area: none;
  }
}

.content {
  grid-area: content;
}

.content img {
  box-shadow: none !important;
}

@media only screen and (max-width: 768px) {
  .content {
    padding: 16px;
  }
}

.sidebarRight {
  grid-area: right;
}

@media only screen and (max-width: 768px) {
  .sidebarRight {
    display: none;
    grid-area: none;
  }
}

.image {
  width: 100%;
  margin-top: 16px;
}

.subtitle {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.meta {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

a {
  text-decoration: none;
}

.recommended {
  display: grid;
  gap: 16px;
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 64px;
}

@media only screen and (max-width: 768px) {
  .recommended {
    display: grid;
    grid-template-columns: 1fr;
    margin-bottom: 32px;
  }
}

.newsletterSubscribe {
  margin-top: 32px;
  margin-bottom: 32px;
  width: 500px;
  height: 100px;
  padding: 16px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.ad {
  display: flex;
  width: 100%;
  margin-bottom: 32px;
  margin-top: 32px;
  min-height: 125px;
  padding: 16px;
  box-sizing: border-box;
}

.ad a {
  color: inherit;
  font: inherit;
}
