.root {
  height: 56px;
  position: fixed;
  background: white;
  width: 100%;
  z-index: 2;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.05);
  display: grid;
  grid-template-rows: 56px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  box-sizing: border-box;
  grid-template-areas: 'left left logo logo logo logo logo home about darkmode  right right';
}

@media only screen and (max-width: 768px) {
  .root {
    grid-template-areas: 'logo logo logo logo logo logo about about darkmode darkmode darkmode darkmode';
    padding-left: 16px;
    padding-right: 16px;
  }
}

.logoWrapper {
  height: 100%;
}
#home {
  grid-area: home;
  min-width: 0;
}
#about {
  grid-area: about;
  min-width: 0;
}

@media only screen and (max-width: 768px) {
  #home {
    grid-area: about;
    display: none;
  }
}

#darkMode {
  grid-area: darkmode;
  min-width: 0;
}

#logo {
  grid-area: logo;
  min-width: 0;
}
